<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo Project</title>
    <link href="/src/output.css" rel="stylesheet">
</head>
<body class="h-screen bg-zinc-800 text-white">
    <h1 class="text-3xl p-4">Hi</h1>
</body>
</html>